<!DOCTYPE HTML>
<html ng-app>
<head>
	<script src="js/angular.min.js"></script>
	<script src="/socket.io/socket.io.js"></script> 

    	<meta >
    		<title>ISS</title>
                <!--boton-->
                 	<link rel="stylesheet" href="css/botones.css">  

                <!--codigo boostrap-->   

                <!-- Latest compiled and minified CSS -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

                <!-- Optional theme -->
                    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

                <!-- Latest compiled and minified JavaScript -->
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

                    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    		        <script type="text/javascript">

$(function () {

        $('#container').highcharts
        (
		        {
		    
		            chart: {

		                plotBackgroundColor: null,
		                plotBorderWidth: null,
		                plotShadow: null,
		                type: 'pie'
		            },
		            title: {
		                text: 'ISS Intelligent Storage System'
		            },
		            tooltip: {
		               pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: {
		                pie: {
		                    allowPointSelect: true,
		                    cursor: 'pointer',
		                    dataLabels: {
		                        enabled: true,
		                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    }
		                }
		            },
		            series: [ {
		            	animation: false,
		                name: "Porcentaje",
		                colorByPoint: true,
		                data: [{
		                    name: "EN PROCESO",
		                    y: 56.33
		                }, {
		                    name: "TERMINADOS",
		                    y: 17.2

		                }]
		            }]
		        }
        );
    

    });

</script>

<script type="text/javascript">
	function MainCtrl($scope)
	{


		$scope.grafica = {
		    
		            chart: 
		            {

		                plotBackgroundColor: '#2E2E30',
		                plotBorderWidth: null,
		                plotShadow: null,
		                type: 'pie'
		            },
		            title: 
		            {
		                text: 'ISS Intelligent Storage System'
		            },
		            tooltip: 
		            {
		                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: 
		            {
		                pie: 
		                	{
		                    	allowPointSelect: true,
		                    	cursor: 'pointer',
		                    	dataLabels: 
		                    	{
		                        	enabled: true,
		                        	format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    	}
		                	}
		            },
		            series: 
		            	[
		            		{
		                		name: "Porcentaje",
		                		colorByPoint: true,
		                		data: 
		                			[
		                				{
		                    				name: "EN PROCESO",
		                    				y: 36.33
		                				}, 
		                				{
		                    				name: "TERMINADOS",
		                    				y: 17.2

		                				}
		                			]
		            		}		
		            	]
		        };


		        $scope.modi = function () 
		        {

		        	$('#container').highcharts($scope.grafica);
		        	console.log("log");
		        
		        }


		$scope.socket = io.connect("http://localhost:3000");

		$scope.socket.on("message", function(dato) {

			$scope.$apply(function()
	            {
					//$scope.idt = dato.idt;
					//$scope.ver = dato.ver;
				
					//$scope.s1 = dato.s1;
					//$scope.s2 = dato.s2;
					//$scope.s3 = dato.s3;
					//$scope.s4 = dato.s4;

	                //$scope.msg = data.t + " " + data.sensor + " " + data.val;


	                //{"x": 35.5, "y":64.6}


	                $scope.grafica = {
		    
		            chart: 
		            {

		                plotBackgroundColor: null,
		                plotBorderWidth: null,
		                plotShadow: null,
		                type: 'pie'
		            },
		            title: 
		            {
		                text: 'ISS Intelligent Storage System'
		            },
		            tooltip: 
		            {
		                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
		            },
		            plotOptions: 
		            {
		                pie: 
		                	{
		                    	allowPointSelect: true,
		                    	cursor: 'pointer',
		                    	dataLabels: 
		                    	{
		                        	enabled: true,
		                        	format: '<b>{point.name}</b>: {point.percentage:.1f} %',
		                    	}
		                	}
		            },
		            series: 
		            	[
		            		{
		                		name: "Porcentaje",
		                		colorByPoint: true,
		                		data: 
		                			[
		                				{
		                    				name: "EN PROCESO",
		                    				y: dato.y
		                				}, 
		                				{
		                    				name: "TERMINADOS",
		                    				y: dato.x

		                				}
		                			]
		            		}		
		            	]
		        };

		        $('#container').highcharts($scope.grafica);

	            });
		});
		
	}
</script>
    </head>
        <body ng-controller="MainCtrl" style="background:#2E2E30"> 
            <div>
            	<!-- <button ng-click="modi()">modi</button> -->
                <table class="table">
                    <th>
                        <P ALIGN=LEFT><img src="IMG/ISSP.JPG" width="128" height="128"></P ALIGN=LEFT>
                    </th>
                    <th>
                            <div id="header">
                            <ul class="nav">
                                <li><a onclick="location.href='index.html'">Inicio</a></li>
                                <li><a href="">Informacion</a>
                            <ul>
                                <li><a onclick="location.href='informacion.htm'">Informacion total</a></li>
                            </ul>
                            <li><a href="">Ayuda</a>
                                    <ul>
                                <li><a onclick="location.href='informacion.htm'">Formas de Uso</a></li>
                                    </ul>
                                <li><a onclick="location.href='login.html'">Salir</a></li>
                            </ul>
                    </th>
                </table>
            </div>
                    <script src="../../js/highcharts.js"></script>
                    <script src="../../js/modules/exporting.js"></script>
                    <div id="container" style="min-width: 400px; height: 400px; max-width: 800px; margin: 0 auto"></div>                
            </div>
        </body>
</html>

                  
