<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensor</title>
     <!--boton-->
     <link rel="stylesheet" href="css/botones.css">  
     <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

               
</head>
<body style="background:#2E2E30">
	  <div>
                <table class="table">
                    <th>
                        <P ALIGN=LEFT><img src="IMG/ISSP.JPG" width="128" height="128"></P ALIGN=LEFT>
                    </th>
                    <th>
                            <div id="header">
                            <ul class="nav">
                                <li><a onclick="location.href='index.htm'">Inicio</a></li>
                                <li><a href="">Informacion</a>
                            <ul>
                                <li><a onclick="location.href='informacion.htm'">Informacion total</a></li>
                            </ul>
                            <li><a href="">Ayuda</a>
                                    <ul>
                                <li><a onclick="location.href='informacion.htm'">Formas de Uso</a></li>
                                    </ul>
                                <li><a onclick="location.href='login.html'">Salir</a></li>
                            </ul>
                    </th>
                </table>
            </div>
</body>
</html>